Source: ros-rolling-rqt-gauges
Section: misc
Priority: optional
Maintainer: Eloy Bricneo <eloy.briceno@ekumenlabs.com>
Build-Depends: debhelper (>= 9.0.0), python3-ament-flake8 <!nocheck>, python3-ament-xmllint <!nocheck>, ros-rolling-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rqt-gauges
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-ament-index, ros-rolling-qt-gui, ros-rolling-qt-gui-py-common, ros-rolling-rclpy, ros-rolling-rqt-gui, ros-rolling-rqt-gui-py, ros-rolling-ros-workspace
Description: Visualization plugin for several sensors.
